extends layout
include mixins/videoListTemplate

block content 
   div.video-grid
        each potato in videos
            +videoListTemplate(potato)
        else
            span.empty__message No videos found 