doctype html 
html(lang="ko")
    head 
        title #{headTitle} | wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        main 
            header 
            block content

            include partial/footer.pug