doctype html 
html(lang="ko")
    head 
        title #{headTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body 
        include partial/header
        main 
            block content
        include partial/footer
        script(src="/static/js/main.js") 
    block scripts