doctype html 
html(lang="ko")
    head 
        title #{headTitle} | wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
              h1=headTitle 
              nav 
                  ul 
                    li
                        a(href="/video/upload") upload video!
        main 
            block content
    include partial/footer