extends layout 
include mixins/videoListTemplate

block content 
    form(method="GET").search__form
        input(type=text, placeholder="write word to search", name="keyword")
        button
        i.fas.fa-search

        div.video-grid
        each video in videos
            +videoListTemplate(video)
        else 
            span.empty__message No videos found 