extends layout 
include mixins/videoListTemplate

block content 
    form(method="GET")
        input(type=text, placeholder="write word to search", name="keyword")
        input(type="submit" value="search now")

        each video in videos
            +videoListTemplate(video)