extends ../layout
include ../mixins/videoListTemplate

block content 
    div.profile__data
        img(src="/" + user.avatar_url).avatar
        h3=user.name
    div.video-grid
        each potato in user.videos
            +videoListTemplate(potato)
        else
            span.empty__message No videos found 